@font-face {
  font-family: "Inter-regular";
  src: url(../../assets/fonts/Inter/static/Inter_28pt-Regular.ttf)
    format("woff2");
}

$white: #ffffff;
$orange: #E17537;
$darkblue: rgba(10, 37, 64, 1);
$purple: rgba(99, 91, 255, 1);

@mixin dispalycenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  @include dispalycenter;
  width: 111.64px;
  height: 33px;
  border-radius: 16.5px;
  background-color: $darkblue;
  color: $white;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 13.95px;
  line-height: 24px;
  gap: 4px;
  cursor: pointer;
  white-space: nowrap;
  &.primary{
    background: none;
    color: $white;
    width: 103.61px;
    height: 23px;
    border: none;
    outline: none;
  }
  &.secondary{
    background: $white;
    color: $orange;
    width: 91.22px;
    height: 33px;
    border: none;
    outline: none;
    border-radius: 16.5px;
  }
  &.third{
    background: $purple;
    color: $white;
    padding: 16px;
    border: none;
    outline: none;
    border-radius: 16.5px;
  }
  &.forth{
    background: none;
    color: $purple;
    width: 103.61px;
    height: 23px;
    border: none;
    outline: none;
  }
  .rows{
    @include dispalycenter;
    position: relative;
    margin-top: 4px;
  }
  .hover-row{
    display: none;
    transition: opacity 0.3s ease;
  }
  &:hover{
    .row{
      display: none;
    }
    .hover-row{
      display: flex;
    }
  }
}
