@font-face {
  font-family: "Inter-regular";
  src: url(../../assets/fonts/Inter/static/Inter_28pt-Regular.ttf)
    format("woff2");
}

$white: #ffffff;

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 13.95px;
  line-height: 24px;
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    width: 108.41px;
    height: 33px;
    color: $white;
    cursor: pointer;
    gap: 3px;
    .rows {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 3px;
      .hover-row{
        position: absolute;
        display: none;
      }
    }
  }
}
