@font-face {
  font-family: "Inter-regular";
  src: url(../../assets/fonts/Inter/static/Inter_28pt-Regular.ttf)
    format("woff2");
}
@font-face {
  font-family: "Inter-medium";
  src: url(../../assets/fonts/Inter/static/Inter_18pt-Medium.ttf)
    format("woff2");
}
@font-face {
  font-family: "Inter-bold";
  src: url(../../assets/fonts/Inter/static/Inter_28pt-Bold.ttf) format("woff2");
}

$white: #ffffff;
$black: #3A3A3A;
$grey: #425466;


@mixin displaycenter($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

body {
  font-family: "Inter-regular";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  .bg-image {
    width: 100%;
    height: 580px;
    clip-path: polygon(0% 0, 0% 100%, 126% 0%, 0 0%);
    position: absolute;
    top: 0;
    z-index: -1;
    img{
      width: 100%;
      height: 100%;
    }
  }
  nav {
    @include displaycenter(space-between, center);
    height: 68px;
    width: 90%;
    max-width: 1112px;
    margin: 0 auto;
  }
  .navigation {
    @include displaycenter(center, center);
  }
  h1 {
    color: $white;
    font-family: "Inter-medium";
  }
  ul {
    @include displaycenter(center, center);
  }
  li {
    @include displaycenter(center, center);
    width: 101px;
    height: 44px;
    a {
      color: $white;
      font-weight: 500;
      font-size: 13.83px;
      line-height: 24px;
      letter-spacing: 0.2px;
      cursor: pointer;
    }
  }
  .btns {
    @include displaycenter(center, center);
    gap: 16px;
  }
  .financial-infrastructure-container{
    @include displaycenter(center, flex-start);
    width: clamp(350px, 90vw, 1080px);
    margin: 48px auto;
    border: 1px solid red;
    .financial-infrastructure{
      width: 580px;
      h2{
        margin-top: 100px;
        font-family: "Inter-regular";
        font-weight: 600;
        font-size: 83.35px;
        line-height: 97.76px;
        letter-spacing: -3.76px;
        color: #3A3A3A;
      }
      p{
        width: 471px;
        font-size: 16.59px;
        line-height: 28px;
        letter-spacing: 0.2px;
        margin: 38px 0px;
        color: $grey;
      }
      .email-address{
        @include displaycenter(space-between, center);
        position: relative;
        width: 384px;
        height: 45px;
        background-color: #f6f9fb;
        border-radius: 32px;
      }
      input{
        padding-left: 20px;
        width: 100%;
        height: 100%;
        border: 1px solid rgba(171,181,197,.30196078431372547);
        background-color: #f6f9fb;
        border-radius: 32px;
        font-weight: 500;
        font-size: 13.95px;
        line-height: 24px;
        letter-spacing: 0.2px;
        outline: none;
      }
      .start-btn{
        position: absolute;
        right: 8px;
      }
      .resp-btn{
        display: none;
      }
    }
  }
  .hero-graphic-container{
    @include displaycenter(center, center);
    position: relative;
    width: 540px;
    .mobile{
      position: absolute;
      z-index: 1;
      top: 68px;
      left: 0;
      width: 254px;
      img{
        width: 100%;
      }
    }
    .graphic-container{
      position: absolute;
      top: 0;
      width: 975px;
      height: 571.85px;
      border-radius: 8px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.3) 25%, rgba(246, 249, 252, 0.3) 50%, #F6F9FC 60%);
    }
  }
}
